/* mcard styles */
.mcard-header{
    border: 2px solid #fdf7f2;
    display: flex;
    gap:  8px ;
    align-items: center;
    background-color: #0e7490 ;
    border-radius:  8px ;
    padding: 8px ;
    color:  #94a3b8 ;
  }
  .mcard-content{
    display: grid;
    gap: 2px;
    align-items: center;
    padding: 8px ;
    background-color: var(--white-bg);
  
    /* transition: all 1s ease; */
    @media screen and (min-width: 768px) {
      padding: 8px 16px;
    }
  }
  .mcard-footer{
    display: flex;
    background-color: var(--white-bg);
    padding: 8px ;
    border-radius: 0 0 6px 6px;
  }