/*  custom modal styles */
.MainModal >div[tabindex='-1'],
.MainModal >div[tabindex='0'] {
    display: grid;
    place-items: center;
  }
  
  .MainModal >div>.ant-modal-content{
    width: var(--modal-width, 300px); /* Fallback to 300px if not defined */
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: var(--background-modal) ;
    color: var(--text-color);
    padding: 18px 12px;

    @media screen and (min-width: 768px) {
        width: 400px;
    }
  }

  .DeletingCollectionConfirm >div>.ant-modal-content{
    height: 180px;
  }
  .AddBill >div>.ant-modal-content{
    height: 360px;
  }
  .EditBill >div>.ant-modal-content{
    height: 340px;
  }
  .updateImgUrl >div>.ant-modal-content{
    height: 420px;
  }
  
.MainModal >div>.ant-modal-content>div>.ant-modal-title {
    background-color: var(--background-modal) ;
    color: var(--text-color); 
  
  }
  .MainModal >div>.ant-modal-content>div>.ant-modal-title>svg{
    fill: var(--text-color); 
  }
  .MainModal .ant-modal-content>button.ant-modal-close>span>span>svg{
    fill: var(--text-color); 
  }
  
  .MainModal >div>.ant-modal-content >.ant-modal-footer {
    display: flex;
    gap: 22px;
    justify-content: flex-end;
    margin-top: auto;
  
  }
  .MainModal >div>.ant-modal-content >.ant-modal-footer > button.AddBill-cancel-btn{
    position: absolute;
    bottom: 42px;
    right: 46px;
  }
  .AddBill-approve-btn{
    align-self: start;
    margin-left: 24px;
  }
  .DeleteBillForm-del-btn{
    position: absolute;
    bottom: 17px;
  }
  .DeleteCollectionForm-del-btn{
    position: absolute;
    bottom: 16px;
  }