/* mcard styles */

  .mcard-content{
    display: grid;
    gap: 2px;
    align-items: center;
    padding: 8px ;
    background-color: var(--white-bg);
  
    transition: all 0.5s ease;
    @media screen and (min-width: 768px) {
      padding: 8px 16px;
    }
  }
  .mcard-footer{
    display: flex;
    align-items: center;
    gap: 4px;
    background-color: var(--white-bg);
    padding: 8px ;
    border-radius: 0 0 6px 6px;
    transition: all 0.5s ease;

    &>button.addOne{
      margin-left: auto;
    }
  }
  .mcard-table{
    display: grid;
  }
